Student ID: #{@report.first.student_id}
%br
Student name: #{@report.first.name}
%br
Class: #{@report.first.gclass}

%table
  %tr    
    %th Subject
    %th Grade
    %th Note
    
  - @report.each do |row|
    %tr        
      %td= row.subject
      %td= row.grade
      %td= row.note
