%p#notice= notice

%p
  %b Student:
  = @student.student_id
%p
  %b Name:
  = @student.name
%p
  %b Subject:
  = @student.subject
%p
  %b Gclass:
  = @student.gclass
%p
  %b Grade:
  = @student.grade
%p
  %b Note:
  = @student.note

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
