%h2 Manager's home page

%br
=form_tag '/students/', :method => "get" do
  =label_tag "Enter Student ID"
  =number_field_tag :student_id
  .actions
    =submit_tag "Show Diplom"

= form_for @manager do |f|
  -if @manager.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manager.errors.count, "error")} prohibited this manager from being saved:"
      %ul
        - @manager.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :manager_id
  .field
    = f.hidden_field :name
  .field
    = f.hidden_field :password 
  .field
    = f.label "Set deadline for all your classes"
    = f.date_select :deadline
  .field
    = f.hidden_field :group

  .actions
    = f.submit 'Save'
