= form_for @teacher do |f|
  -if @teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - @teacher.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :teacher_id
    = f.number_field :teacher_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :gclass
    = f.text_field :gclass
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :group
    = f.number_field :group
  .actions
    = f.submit 'Save'
