%h1 Listing teachers

%table
  %tr
    %th Teacher ID
    %th Name
    %th 
    %th
    %th

  - @teachers.each do |teacher|
    %tr
      %td= teacher.teacher_id
      %td= teacher.name
      %td= link_to "#{teacher.subject} #{teacher.gclass}", "/students?gclass=#{teacher.gclass}&subject=#{teacher.subject}"
      %td= link_to 'Unclass this teacher', teacher, :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Add Class', "teacher/#{teacher.teacher_id}/add_class"

%br

= link_to 'New Teacher', new_teacher_path
