- model_class = Teacher
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

%table.table.table-striped
  %thead
    %tr
      %th Teacher ID
      %th= model_class.human_attribute_name(:name)
      %th=t '.actions', :default => t("helpers.actions")      

  - @teachers.each do |teacher|
    %tr
      %td= link_to teacher.teacher_id, "/teachers/#{teacher.teacher_id}/choose_classes"
      %td= link_to teacher.name, "/teachers/#{teacher.teacher_id}/choose_classes" 
      %td= link_to 'Add Class', "teacher/#{teacher.teacher_id}/add_class", :class => 'btn btn-mini btn-primary'

%br

= link_to 'New Teacher', new_teacher_path, :class => 'btn btn-mini'
