- model_class = Teacher
.page-header
  %h1=t '.title', :default => "Add new teacher"
= form_for @teacher do |f|
  -if @teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - @teacher.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label "Teacher ID", :class => 'control-label'
    .controls
      = f.number_field :teacher_id
  .control-group
    = f.label :name
    .controls
      = f.text_field :name
  .field
    =f.select(:subject, @possible_subjects)
  .field
    =f.select(:gclass, @possible_classes)
  .control-group
    = f.label :password
    .controls
      = f.password_field :password
  .field
    = f.hidden_field :group
  .field
    = f.hidden_field :submitted
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'

= link_to t('.cancel', :default => t("helpers.links.cancel")), teachers_path, :class => 'btn'
