%p#notice= notice

%p
  %b Teacher:
  = @teacher.teacher_id
%p
  %b Name:
  = @teacher.name
%p
  %b Group:
  = @teacher.group

= link_to 'Edit', edit_teacher_path(@teacher)
\|
= link_to 'Back', teachers_path
