- model_class = Gclass
.page-header
  %h1=t '.title', :default => "Table of grades for class #{@gclass.gclass}"

%table.table.table-striped
  %thead
    %tr
      %td Pupil name
      -@subjects.each do |subj|
        %td= link_to "#{subj.subject}", "/students?gclass=#{@gclass.gclass}&subject=#{subj.subject}"
  %tbody
    -@students.group(:name).each do |studname|
      %tr
      %td= link_to studname.name, "/students/#{studname.student_id}"
      -@students.where(:name=>studname.name).each do |grade|
        %td= grade.grade

= link_to 'Back', gclasses_path
