!!! 5
%html
  %head
    %title Grades submission system
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Grades submission system
    =if !session[:manager].nil?
      %h1 Hello #{session[:name]} 
      =link_to "Logout", '/login/logout'
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
